 <!DOCTYPE html>

<html>


h1 {color: red; font-size: 22pt;} 
p {color: black; font-weight: bold;} 
Body { background: red ; 
	     color: black;
	     font-size: 14pt;
	   }
	   H1 {font-size: 250%;
	              font-weight: bold;
	              color: black}
me p { color: black }


       


</html>

